@tailwind base;
@tailwind components;
@tailwind utilities;

img { border: 0; } 

address, form, section, nav, menu, header, footer, aside, article, input, table, textarea, legend, caption, li, ol, ul, p, dd, dt, dl, button, h6, h5, h4, h3, h2, h1, body { margin: 0; padding: 0; } 

address, section, nav, menu, header, footer, aside, article { display: block; } 

li, ol, ul { list-style: none; } 

body { box-sizing: border-box; } 

img { vertical-align: middle; } 

.blind, .skip { overflow: hidden; position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; z-index: -1; opacity: 0; } 

html { height: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } 

body { height: 100%; background: #fff; -webkit-text-size-adjust: none; -webkit-touch-callout: none; font-family: "Malgun Gothic", "Apple SD Gothic Neo", Dotum, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; line-height: 1.5; } 

h6, h5, h4, h3, h2, h1 { -webkit-font-smoothing: subpixel-antialiased; font-family: "Malgun Gothic", "Apple SD Gothic Neo", Dotum, sans-serif; font-weight: 700; font-style: normal; } 

em { font-family: "Malgun Gothic", "Apple SD Gothic Neo", Dotum, sans-serif; font-weight: 400; font-style: normal; } 

button { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; border-width: 0; background: 0 0; outline: 0; cursor: pointer; font-family: "Malgun Gothic", "Apple SD Gothic Neo", Dotum, sans-serif; font-size: inherit; font-weight: normal; font-style: normal; } 
button:focus { outline: 0; } 

a { color: #000; text-decoration: none; text-overflow: ellipsis; } 
a:active, a:hover, a:link { text-decoration: none; } 

caption { overflow: hidden; width: 1px; height: 1px; color: transparent; } 

legend { overflow: hidden; width: 1px; height: 1px; color: transparent; } 

textarea { resize: none; -webkit-appearance: none; -webkit-border-radius: 0; } 
textarea:focus { outline: 0; } 

table { width: 100%; border-spacing: 0; border-collapse: collapse; } 

input { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; border-width: 0; background: 0 0; outline: 0; cursor: pointer; font-family: "Malgun Gothic", "Apple SD Gothic Neo", Dotum, sans-serif; font-size: inherit; font-weight: normal; font-style: normal; } 
input:focus { outline: 0; } 
.flexwrap { width: 100%; height: 100%; } 

.flexwrap .wrap { flex-flow: column nowrap; /* row: item 가로형태, nowrap: item이 박스넘쳐도 줄바꿈안되게 */
 justify-content: stretch; align-items: center; align-content: stretch; display: flex; height: 100%; background: #FFF4D2; overflow: hidden; border: 1px solid #ff0000; } 

.flexwrap .wrap .item { flex-basis: auto; /* width 값이 들어가면 사이즈는 width가 기준 */
 width: auto; word-wrap: break-word; font-size: 20px; border: 1px solid #333; } 

.flexwrap .wrap .item:nth-child(2n) { background: #f2f2f2; } 